footer {
  background: $background-color;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  width: 100%;
  animation: opening 0.3s ease-in-out;
  @include flex(flex-start, center, row);
  ul {
    flex: 1 1 40rem;
    @include flex(space-around, center, row);
  }
  h4 {
    flex: 1 1 40rem;
  }
}

footer img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}
